* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
}

#background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.title {
  height: 100px;
  width: 600px;
  background-image: url(../img/title.png);
}

.app-container {
  display: flex;
  height: 300px;
  width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#form-container,
#greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  font-size: 1.25rem;
}

h1 {
  font-size: 1.75rem;
  text-align: center;
  margin: 0;
}

input {
  width: 50%;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
}

.submit-button {
  margin-left: 10px;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  background-color: #000;
  border-radius: 6px;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #e6acc1;
}

.hidden {
  display: none !important;
}
